<div class="container">
	<div class="row" align="center">
		<img src="/images/pjv.png" class="img-circle" style="width: 250px; height: 250px;">
		<h1 style="color:blue;">Pastoral Juvenil Vocacional</h1>
		<h2 style="color:green;">VII Asamblea de Pastoral Juvenil</h2>
	</div>
	<div class="jumbotron" >
	  <h2 style="color:blue;">Objetivo:</h2>
	  <p>Revitalizar la espiritualidad jjuvenil desde un encuentro fraterno que motive un mayor compromiso a travéz de las herramientas pastorales que suciten mayor conexión con Dios y nuestra sociedad.</p>
	</div>
	<div class="col-xs-12 col-sm69 col-md-6 col-lg-6" align="center">
	  <blockquote>
		  <h2 style="color:blue;">Contenido:</h2>
		  <p>- Espiritualidad Juvenil.</p>
		  <p>- Conocimiento de sí mismo.</p>
		  <p>- Relaciones afectivas desde Dios.</p>
		  <p>- Herramientas de evangelización de hoy.</p>
		  <p>- Jóvenes light vs Jóvenes comprometidos.</p>
		  <p>- La alegría del evangelio.</p>
	  </blockquote>
	</div>
	<div class="col-xs-12 col-sm69 col-md-6 col-lg-6" align="center">
		<img src="/images/congreso.jpg" style="width: 250px; height: 400px;">
	</div>
</div>